body{
    background: rgb(172, 172, 202);
    font: normal 15pt arial;

}

h1{
    text-align: center;
}
 section{
    display: flex;
    flex-direction: column;
    align-items: center;
 }